<!DOCTYPE html>
<html>
<head>
  <title>RailsFlatironStore</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>

<nav>
    <%= link_to "Home", store_path  %>
    <% if current_user %>
      <%= link_to "Sign out",  destroy_user_session_path, method: :delete  %>
      <p>
        Signed in as <%= "#{current_user.email}" %>
      </p>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path  %>
      <%= link_to "sign in",  new_user_session_path  %>
    <% end %>


</nav>

<%= render 'layouts/header' %>
<%= yield %>

</body>
</html>
